---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Navbar/Header'
import Hero from '../components/Hero/Hero'
import Trust from '../components/Trust/Trust'

import ProcessMobile from '../components/Process/ProcessMobile'

import Resources from '../components/Resources/Resources'
import Solutions from '../components/Solutions/Solutions'

import Cta from '../components/Cta/Cta'
---

<Layout title="Welcome to Astro.">
	<main class="bg-base-white">
		
		<!-- <Header client:load /> -->
		<!-- <Hero /> -->
		<Trust />
		<ProcessMobile client:load />
		<Solutions />
		<Resources client:load />
		<Cta  client:load/>
	</main>
</Layout>


